[workspace]
default-members = ["slack-client"]
members = [
    "slack-client",
    "slack-telemetry",
]
resolver = "2"

[profile.release]
opt-level = "z"
lto = "fat"
strip = "symbols"
codegen-units = 1
panic = "unwind"
